body{
    padding: 180px 0 0 40px;
    background-color: #1b1d1e;
    height: 100vh;
}

.main{
    color: #01dae0;
    font-size: 32px;
    font-family: monospace;
    font-weight: 300;
}

.microsoft{
    text-decoration: none!important;
}

.caret{
    text-decoration: none!important;
}

del{
    text-decoration: none;
}